<%= form_for(@order, url: {action: "create"}) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="name">
      <%= f.label :name_customer %>
      <%= f.text_field :name_customer,  :value => "Bruce" %>
    </div> <br>

    <div class="field">
      <%= f.label :contact_phone_number %>
      <%= f.text_field :contact_phone_number, :value => "555 55 55" %>
    </div> <br>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, :value => "Gotham" %>
    </div> <br>
  <%# end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render 'form_update_cart' %>