<%= form_for(@order, url: {action: "create"}) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>

    <div class="name">
      <%= f.label :name_customer %>
      <%= f.text_field :name_customer, :value => current_user.name %>
    </div> <br>

    <div class="field">
      <%= f.label :contact_phone_number %>
      <%= f.text_field :contact_phone_number, :value => current_user.customer_contacts.contact_number %>
    </div> <br>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, :value => current_user.customer_contacts.address %>
    </div> <br>

  <% else %>

    <div class="name">
      <%= f.label :name_customer %>
      <%= f.text_field :name_customer,  :value => "Oleg" %>
    </div> <br>

    <div class="field">
      <%= f.label :contact_phone_number %>
      <%= f.text_field :contact_phone_number, :value => "123 45 67" %>
    </div> <br>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, :value => "Lviv" %>
    </div> <br>

  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render 'form_update_cart' %>