
  <table>
    <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
    </thead>

    <tbody>
    <% @ord.products.each do |product| %>
      <tr>
        <td> product id: <%= product.id %> </td>
        <td> product name: <%= product.name %> </td>
        <td> product model: <%= product.model %> </td>
        <td> product price: <%= product.price %> </td>
        <td> product amount: <%= product.orders_products.where(order_id: @ord.id).first.amount %> </td>
      </tr>
    <% end %>
    </tbody>
    Price for order  <%= @ord.price %>
  </table>

  <%= link_to 'Back', orders_path %>
