<%= form_for(@customer_contacts, url: customer_contacts_update_path) do |f| %>
  <% if @customer_contacts.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_contacts.errors.count, 'error') %> prohibited this order from being saved:</h2>

      <ul>
        <% @customer_contacts.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="col-md-5">
      <div class="form-area">
        <form role="form">
          <br style="clear:both">
          <div class="form-group">
            <%= f.label :contact_number %>
            <%= f.text_field :contact_number, :value => @customer_contacts.contact_number, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address, :value => @customer_contacts.address, class: 'form-control' %>
          </div>

          <button type="button" id="submit" name="submit" class="btn btn-primary pull-right"><%= f.submit class: 'btn btn-primary pull-right' %></button>
        </form>
      </div>
    </div>
  </div>
<% end %>