<%= form_for(@product, local: true, url: admin_products_path) do |f| %>

  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "name" %>
  </div>
  <br>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>
  <br>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <br>

  <div class="category">
    <%= f.collection_radio_buttons :category_id, Category.all, :id, :name %>
  </div>
  <br>

  <div class="field">
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
