<h1>Discounts</h1>

<table>
  <thead>
  <tr>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @discounts.each do |discount| %>
    <div class="method">
      <div class="row margin-0 list-header hidden-sm hidden-xs">
        <div class="col-md-3"><div class="header">ID</div></div>
        <div class="col-md-2"><div class="header">Name</div></div>
        <div class="col-md-2"><div class="header">Coefficient 1</div></div>
        <div class="col-md-5"><div class="header">Coefficient 2</div></div>
      </div>

      <div class="row margin-0">
        <div class="col-md-3">
          <div class="cell">
            <div class="propertyname">
              <%= discount.id %>  <span class="mobile-isrequired">[Required]</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="cell">
            <div class="type">
              <code><%= discount.name %>></code>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="cell">
            <div class="isrequired">
              <%= discount.criterion %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="cell">
            <div class="description">
              <%= discount.criterion_second %>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="cell">
            <div class="description">
              <%= link_to 'Change', discount_path(discount) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  <% end %>
  </tbody>
</table>