<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href=<%= root_path %>>My Storehouse</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" id="menu">
        <li class="nav-item"><a href=<%= root_path %>>Home</a></li>
        <li class="nav-item"><a href=<%= products_path %>>Products</a></li>
        <li class="nav-item"><a href=<%= contact_path %>>Contact</a></li>
        <% if admin? %>
        <li class="nav-item"><a href=<%= admin_path %>>Admin page</a></li>
        <% end %>
        <li class="nav-item"><a href=<%= customer_contacts_show_path %>>My contacts</a></li>
        <li class="nav-item"><a href=<%= new_feedback_path %>>Create feedback</a></li>
        <% if admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href=<%= new_admin_product_path %>>Add product</a></li>
            <li><a href=<%= orders_path %>>Show orders</a></li>
            <li><a href=<%= customer_contacts_show_path %>>Customer contacts</a></li>
            <li role="separator" class="divider"></li>
            <li><a href=<%= admin_feedbacks_path %>>Show feedbacks</a></li>
            <li><a href=<%= admin_discounts_path %>>Show discounts</a></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=<%=new_order_path%>>Create order</a></li>
        <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<style>
  #menu { cursor: pointer; }
</style>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script>

    $("#menu li").click(function() {
        $( this ).parent().find( 'li.active' ).removeClass( 'active' );
        $( this ).addClass( 'active' );
    });
</script>

