<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= root_path %>>My Storehouse</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href=<%= products_path %>>Products</a></li>
        <li><a href=<%= contact_path %>>Contact</a></li>
        <% if admin? %>
          <li><a href=<%= admin_path %>>Admin page</a></li>
        <% end %>
        <li><a href=<%= customer_contacts_show_path %>>My contacts</a></li>
        <li><a href=<%= new_feedback_path %>>Create feedback</a></li>
        <% if admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href=<%= new_admin_product_path %>>Add product</a></li>
            <li><a href=<%= orders_path %>>Show orders</a></li>
            <li><a href=<%= customer_contacts_show_path %>>Customer contacts</a></li>
            <li role="separator" class="divider"></li>
            <li><a href=<%= admin_feedbacks_path %>>Show feedbacks</a></li>
            <li><a href=<%= admin_discounts_path %>>Show discounts</a></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=<%=new_order_path%>>Create order</a></li>
        <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>